export PQ_MODE=strict
export SESSION_ROTATION_S=900
export KYBER_SECURITY=MLKEM768
export RUST_LOG=info
export GOFLAGS="-tags=pqstrict"
export BAZELISK_HOME="${PWD}/.bazel-cache"
export LIBOQS_DIR="${PWD}/build/liboqs"
# fingerprint: 4d697975727520416d61726173697269
